#CONFIG_TEX
#  Command name of the TeX engine of choice
#CONFIG_TEX_INI_FLAGS
#  Flags to be passed to the TeX engine when dumping formats
#CONFIG_TEX_FLAGS=
#  Flags to be passed to the TeX engine when producing documents
#CONFIG_PLAIN_FORMAT
#  Name of the plain format for the TeX engine of choice
#CONFIG_LATEX_FORMAT
#  Name of the LaTeX format for the TeX engine of choice
#CONFIG_FORMAT
#  Output format (dvi or pdf)
